LITOPYSDB_DATABASE_PATH=data/litopys.db
LITOPYSDB_PDF_DIRECTORY=data/pdfs
LITOPYSDB_HOST=127.0.0.1
LITOPYSDB_PORT=8000
LITOPYSDB_DATABASE_SNAPSHOT_URL=https://github.com/nazarb25/LitopysBooksDB/releases/latest/download/litopys.db.zst
